<div class="card-data-header">
  <div class="card-data-header-text-group">
    <h2 class="card-data-header-text">Card Header</h2>
    <h5 class="card-data-header-filter card-header-ui-controls">Filter By Treatment ▾</h5>
    <h5 class="card-data-header-filter card-header-ui-controls">Filter by Brand ▾</h5>
  </div>

  <div class="card-data-header-tab-group">
    <div class="card-header-tab-fixed card-header-tab-fixed-active">
      <h5 class="card-header-ui-controls">Saved</h5>
    </div>
    <div class="card-header-tab-fixed card-header-tab-fixed-inactive">
      <h5 class="card-header-ui-controls">Recent</h5>
    </div>
  </div>
</div>
