header {
  align-items: center;
  background-color: $header-color;
  display: flex;
  flex-direction: row;
  height: $navbar-height;
  justify-content: space-between;
  padding: 0 $gutter;
  width: 100%;
  position: fixed;
}

.logo {
  line-height: 0;
}

.nav-links {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  a {
    padding-right: $gutter;
  }

  a:last-child {
    padding-right: 0;
  }
}
