.section--first {
  margin-top: $navbar-height;
}

.section--padding__large {
  padding: 8em 0;
}

.section--padding__medium {
  padding: 6em 0;
}

.section--padding__small {
  padding: 4em 0;
}

.section--padding__tiny {
  padding: 2em 0;
}
