body {
  background-color: $dashboard-background-color;
}

.page-wrap {
  display: block;
  height: 100vh;
  margin-left: $sidebar-width;
  margin-top: $navbar-height;
  position: relative;
  width: calc(100% - $sidebar-width);
}

.dashboard-padding {
  padding: $gutter;
}
