---
title: Frontend Library | Sidebar
layout: layout-sidebar
---



<div class="page-wrap dashboard-padding">

  <div class="container">



    <div class=" card card-data">
      <%= partial "components/card-data/card-data-header" %>
      <div class="card-data-content card-data-tile-padding">
        <img src="../images/test/comparison-tiles@2x.png" alt="" />
      </div>
    </div>


  </div>




</div>
