<div class="nav-bar">
  <% link_to '/index.html' do %>
    <div class="nav-logo">
      <%= image_tag "images/brand/logo.svg" %>
    </div>
  <% end %>
  <div id="menu">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
  </div>
  <div class="nav-items">
    <ul>
      <a href="#">
        <li class="nav_active">Services and Rates</li>
      </a>
      <a href="#">
        <li class="nav_active">About</li>
      </a>
      <a href="#">
        <li class="nav_active">Team</li>
      </a>
      <a href="#">
        <li class="nav_active">Contact</li>
      </a>
      <!-- <li class="nav-button">
        <button type="button" name="button">Sign Up</button>
      </li> -->
    </ul>
    <div class="nav-button">
      <button type="button" name="button">Sign Up</button>
    </div>
  </div>

</div>
