---
title: Frontend Library
layout: layout-nav-cta
---

<section class="section--first section--padding__tiny">
  <div class="container">
    <div class="col-6 shift-3 txt-container">
      <h1>Frontend Laboratory</h1>
      <p class="font-p-large">
        There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station whether that is on the deck of your home or having a powerful but mobile telescope set up to take to the remove countryside to really get a good shot at some breath taking star gazing.
      </p>
      <p class="font-p-large">
        The last thing we would want to do is to take away any of the “fun” of your hobby of astronomy because the joy of what we do as star gazers is a big part of the appeal. But unlike many other hobbies, ours is a passion of science, of learning and of discovery. And don’t kid yourself, even a hobbyist with a limited telescopic set up can see some amazing things in the stars. So let’s be sure you invest in a solid piece of equipment that you can continue to grow with as your knowledge and ability as an astronomer grows. But how do we do that?
      </p>
      <p class="font-p-large">
        Now we use the term “telescope geeks” lovingly because any of us who are devoted to our love of astronomy eventually become telescope geeks. And these are the type of people who will know exactly how to evaluate your needs in terms of where you are right now and where you want to go as your hobby grows with you. So if you have not yet associated with a local astronomy club, now is the time to do it.
      </p>
    </div>
  </div>
</section>

<section class="bg-1 section--padding__large">
  <div class="container">
    <div class="col-6 shift-3 txt-center txt-container">
      <h1>Experimental</h1>
      <p class="font-p-large">
        The last thing we would want to do is to take away any of the “fun” of your hobby of astronomy because the joy of what we do as star gazers is a big part of the appeal. But unlike many other hobbies, ours is a passion of science, of learning and of discovery.
      </p>
    </div>
  </div>
</section>
