<div class="sidebar-left">
  <div class="sidebar-header">
      <%= image_tag "images/brand/logo-icon.svg" %>
  </div>
  <div class="sidebar-links">
    <ul class="sidebar-link-group">
      <li>Geography</li>
      <li>Math</li>
      <li>Science</li>
      <li>Literature</li>
      <li>History</li>
      <li>Music</li>
    </ul>
  </div>
</div>
